.maintitle{
    font-size: 100px;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

main{
    background-color: rgb(248, 230, 68);
}


.subtitle{
    text-align: center;
    font-size: 50px;
}

#greeting{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.greet-img{
    width: 45%;
}

.greet-img img{
    max-width: 90%;
}

.greet-text{
    width: 45%;
}

.greet-text p{
    font-size: 20px;
}

.day{
    text-align: center;
}

.day1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.day2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.day3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-box{
    text-align: center;
}

.btn-box button{
    margin: 0px 30px;
}

.hide{
    display: none;
}



.timeimg{
    width: 80%;
}

.timeimg img{
    width: 100%;
}

#introduction{
    width: 100%;
}

.intro-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.visit-img{
    width: 45%;
}

.visit-img img{
    max-width: 90%;
}

.visit-intro{
    width: 45%;
}

.day1btn{
    font-family: 'Great Vibes', cursive;
}
.day2btn{
    font-family: 'Great Vibes', cursive;
}
.day3btn{
    font-family: 'Great Vibes', cursive;
}

